{% extends 'base.html.twig' %}

{% block title %}Restaurantes index{% endblock %}

{% block body %}
<main>
    <h1>Restaurantes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Correo</th>
                <th>Clave</th>
                <th>Pais</th>
                <th>Cp</th>
                <th>Ciudad</th>
                <th>Direccion</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for restaurante in restaurantes %}
            <tr>
                <td>{{ restaurante.id }}</td>
                <td>{{ restaurante.correo }}</td>
                <td>{{ restaurante.clave }}</td>
                <td>{{ restaurante.pais }}</td>
                <td>{{ restaurante.cp }}</td>
                <td>{{ restaurante.ciudad }}</td>
                <td>{{ restaurante.direccion }}</td>
                <td>{{ restaurante.nombre }}</td>
                <td>
                    <a class="btn" href="{{ path('app_restaurantes_show', {'id': restaurante.id}) }}">show</a>
                    <a class="btn" href="{{ path('app_restaurantes_edit', {'id': restaurante.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('app_restaurantes_new') }}">Create new</a>
</main>
{% endblock %}
