{% extends 'base.html.twig' %}

{% block title %}Pedidos index{% endblock %}

{% block body %}
<main>
    <h1>Pedidos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Enviado</th>
                <th>Restaurante</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.id }}</td>
                <td>{{ pedido.fecha ? pedido.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ pedido.enviado }}</td>
                <td>{{ restaurantes[pedido.id] }}</td>
                <td>
                    <a class="btn" href="{{ path('app_pedidos_show', {'id': pedido.id}) }}">show</a>
                    <a class="btn" href="{{ path('app_pedidos_edit', {'id': pedido.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('app_pedidos_new') }}">Create new</a>
</main>
{% endblock %}
